.background{
  display: table;
  width: 100%;
  background: url('img/background1.jpg');
  background-position: center top;
  color: white;
  height:100%;
  width: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}
.page{
  font-family: 'Raleway';
}
.welcome{
  margin-top: 60%;
  color: white;
  text-align: center;
}
